In [ ]:
import pandas as pd
from sklearn.datasets import load_iris

In [ ]:
species={0:'Setosa', 1:'Versicolor', 2:'Virginica'}

The aforementioned lines of code import pandas library as pd
AND
imports load_iris data set from sklearn which is necessary for this assignment.

In [ ]:
vikrantIris=load_iris()

The aforementioned line of code loads the load_iris dataset which we imported from sklearn.datasets into a variable called vikrantIris.
But keep in mind that the imported dataset is not yet a table.

In [ ]:
table=pd.DataFrame(vikrantIris.data,columns=vikrantIris.feature_names)

In the aforementioned line of code:-
table is a new variable which will contain:-
pd.DataFrame() is responsible for creating a table.
the arguements passed to the pd.DataFrame are the name of the variable containing the loaded dataset from sklearn and the names of the columns as a list.

In [ ]:
print(table)

     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                  5.1               3.5                1.4               0.2
1                  4.9               3.0                1.4               0.2
2                  4.7               3.2                1.3               0.2
3                  4.6               3.1                1.5               0.2
4                  5.0               3.6                1.4               0.2
..                 ...               ...                ...               ...
145                6.7               3.0                5.2               2.3
146                6.3               2.5                5.0               1.9
147                6.5               3.0                5.2               2.0
148                6.2               3.4                5.4               2.3
149                5.9               3.0                5.1               1.8

[150 rows x 4 columns]

The aforementioned print statement shows that the outputs are getting printed from the dataset.

In [ ]:
table['Species']=vikrantIris.target

In [ ]:
print(table)

     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)  \
0                  5.1               3.5                1.4               0.2
1                  4.9               3.0                1.4               0.2
2                  4.7               3.2                1.3               0.2
3                  4.6               3.1                1.5               0.2
4                  5.0               3.6                1.4               0.2
..                 ...               ...                ...               ...
145                6.7               3.0                5.2               2.3
146                6.3               2.5                5.0               1.9
147                6.5               3.0                5.2               2.0
148                6.2               3.4                5.4               2.3
149                5.9               3.0                5.1               1.8

     Species
0          0
1          0
2          0
3          0
4          0
..       ...
145        2
146        2
147        2
148        2
149        2

[150 rows x 5 columns]

In the aforementioned lines of code, we create a new column called Species and add it to the table vikrantIris.

In [ ]:
table['Species']=table['Species'].map(species)
print(table)

     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)  \
0                  5.1               3.5                1.4               0.2
1                  4.9               3.0                1.4               0.2
2                  4.7               3.2                1.3               0.2
3                  4.6               3.1                1.5               0.2
4                  5.0               3.6                1.4               0.2
..                 ...               ...                ...               ...
145                6.7               3.0                5.2               2.3
146                6.3               2.5                5.0               1.9
147                6.5               3.0                5.2               2.0
148                6.2               3.4                5.4               2.3
149                5.9               3.0                5.1               1.8

       Species
0       Setosa
1       Setosa
2       Setosa
3       Setosa
4       Setosa
..         ...
145  Virginica
146  Virginica
147  Virginica
148  Virginica
149  Virginica

[150 rows x 5 columns]

In the aforementioned line of code, we map the numbers in the Species column with actual species name which I have defined in 3rd line as a dictionary.

In [ ]:
mean=table.groupby('Species')['sepal length (cm)'].mean()
print(mean)

Species
Setosa        5.006
Versicolor    5.936
Virginica     6.588
Name: sepal length (cm), dtype: float64

The aforementioned line of code will print the mean of all the species.
Keep in mind that we have grouped by species.
So what is going on is that we make a new variable called mean.
Then we use the table that we made using **pd.DataFrame(vikrantIris.data,columns=vikrantIris_features)**
But also keep in mind that we are using the most recent table variable where in we also added a 'Species' column to it.

In [ ]:
median=table.groupby('Species')['sepal length (cm)'].median()
print(median)

Species
Setosa        5.0
Versicolor    5.9
Virginica     6.5
Name: sepal length (cm), dtype: float64

The aforementioned line of code calculates median and prints it.

In [ ]:
dev=table.groupby('Species')['sepal length (cm)'].std()
print(dev)

Species
Setosa        0.352490
Versicolor    0.516171
Virginica     0.635880
Name: sepal length (cm), dtype: float64

.std() is responsible for calculating standard deviation from which we can find out which species show the highest variablility.

In [ ]:
new=dev.max()

In [ ]:
print(f"The highest variability is: {new}")

The highest variability is: 0.635879593274432

Q2 Solving:-
2. Central Tendency & Dispersion
For petal length (per species), compute:

mean

median

mode (if any)

variance

standard deviation

Explain briefly:

When does the median tell a different story than the mean?

In [ ]:
setosa=table[table['Species']=='Setosa']['petal length (cm)']
#The aforementioned line of code seperates each line in the table by the name 'Setosa' and seperates them along with their values under petal length.
versicolor=table[table['Species']=='Versicolor']['petal length (cm)']
#The aforementioned line of code seperates each line in the table by the name 'Vermicolor' and seperates them along with their values under petal length.
virginica=table[table['Species']=='Virginica']['petal length (cm)']
#The aforementioned line of code seperates each line in the table by the name 'Virginica' and seperates them along with their values under petal length.
#Also keep in mind the extra variables that we have for each species.
#Which means that all of the data from the table is now stored in the variables that I have created for each specie.
print("Setosa Data: ")
print(setosa)
print("Versicolor data: ")
print(versicolor)
print("Virginica data: ")
print(virginica)

Setosa Data:
0     1.4
1     1.4
2     1.3
3     1.5
4     1.4
5     1.7
6     1.4
7     1.5
8     1.4
9     1.5
10    1.5
11    1.6
12    1.4
13    1.1
14    1.2
15    1.5
16    1.3
17    1.4
18    1.7
19    1.5
20    1.7
21    1.5
22    1.0
23    1.7
24    1.9
25    1.6
26    1.6
27    1.5
28    1.4
29    1.6
30    1.6
31    1.5
32    1.5
33    1.4
34    1.5
35    1.2
36    1.3
37    1.4
38    1.3
39    1.5
40    1.3
41    1.3
42    1.3
43    1.6
44    1.9
45    1.4
46    1.6
47    1.4
48    1.5
49    1.4
Name: petal length (cm), dtype: float64
Versicolor data:
50    4.7
51    4.5
52    4.9
53    4.0
54    4.6
55    4.5
56    4.7
57    3.3
58    4.6
59    3.9
60    3.5
61    4.2
62    4.0
63    4.7
64    3.6
65    4.4
66    4.5
67    4.1
68    4.5
69    3.9
70    4.8
71    4.0
72    4.9
73    4.7
74    4.3
75    4.4
76    4.8
77    5.0
78    4.5
79    3.5
80    3.8
81    3.7
82    3.9
83    5.1
84    4.5
85    4.5
86    4.7
87    4.4
88    4.1
89    4.0
90    4.4
91    4.6
92    4.0
93    3.3
94    4.2
95    4.2
96    4.2
97    4.3
98    3.0
99    4.1
Name: petal length (cm), dtype: float64
Virginica data:
100    6.0
101    5.1
102    5.9
103    5.6
104    5.8
105    6.6
106    4.5
107    6.3
108    5.8
109    6.1
110    5.1
111    5.3
112    5.5
113    5.0
114    5.1
115    5.3
116    5.5
117    6.7
118    6.9
119    5.0
120    5.7
121    4.9
122    6.7
123    4.9
124    5.7
125    6.0
126    4.8
127    4.9
128    5.6
129    5.8
130    6.1
131    6.4
132    5.6
133    5.1
134    5.6
135    6.1
136    5.6
137    5.5
138    4.8
139    5.4
140    5.6
141    5.1
142    5.1
143    5.9
144    5.7
145    5.2
146    5.0
147    5.2
148    5.4
149    5.1
Name: petal length (cm), dtype: float64

In [ ]:
print(f"Mean for species Setosa is: {setosa.mean()}")
print(f"Mean for species Versicolor is: {versicolor.mean()}")
print(f"Mean for species Virginica is: {virginica.mean()}")

Mean for species Setosa is: 1.4620000000000002
Mean for species Versicolor is: 4.26
Mean for species Virginica is: 5.5520000000000005

The aforementioned lines of codes will print out the mean for each specie.

In [ ]:
print(f"Median for species Setosa is: {setosa.median()}")
print(f"Median for species Versicolor is: {versicolor.median()}")
print(f"Median for species Virginica is: {virginica.median()}")

Median for species Setosa is: 1.5
Median for species Versicolor is: 4.35
Median for species Virginica is: 5.55

In [ ]:
print(f"Mode for species Setosa is: {setosa.mode()}")
print(f"Mode for species Versicolor is: {versicolor.mode()}")
print(f"Mode for species Virginica is: {virginica.mode()}")

Mode for species Setosa is: 0    1.4
1    1.5
Name: petal length (cm), dtype: float64
Mode for species Versicolor is: 0    4.5
Name: petal length (cm), dtype: float64
Mode for species Virginica is: 0    5.1
Name: petal length (cm), dtype: float64

In [ ]:
print(f"Variance for species Setosa is: {setosa.var()}")
print(f"Variance for species Versicolor is: {versicolor.var()}")
print(f"Variance for species Virginica is: {virginica.var()}")

Variance for species Setosa is: 0.030159183673469397
Variance for species Versicolor is: 0.22081632653061237
Variance for species Virginica is: 0.304587755102041

In [ ]:
print(f"Standard Deviation for species Setosa is: {setosa.std()}")
print(f"Standard Deviation for species Versicolor is: {versicolor.std()}")
print(f"Standard Deviation for species Virginica is: {virginica.std()}")

Standard Deviation for species Setosa is: 0.1736639964801841
Standard Deviation for species Versicolor is: 0.46991097723995806
Standard Deviation for species Virginica is: 0.5518946956639835

To answer the question when mean tells a different story than median is when the data is imbalaced.
Lets say that the data was imbalanced i.e. there was some skew in the data i.e. some values were way too high than the others.
Such values would affect MEAN whereas MEDIAN remains the same.
Because:-
Mean = Sum of all the values in the dataset/number of values in dataset
Mean is affected by the large values in the dataset.
Median:-
If data set has even number of values:-
Eg:- 2,100,100,4
Median= sum of centeral two values in the dataset/2
100+100/2 = 100
If data set has odd number of values:-
1,2,3,4,5
Median= Central value
So, Median = 3.
.
.
If mean and median are not equal for a dataset, data is not symmetric.